<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.demo.mapper.SeckillMapper">
    <select id="findSeckillById" resultType="com.seckill.demo.domain.Seckill">
        SELECT seckill_id, name, number, start_time, end_time, create_time, version
          FROM seckill
          WHERE seckill_id = #{id}
          FOR UPDATE
    </select>

    <update id="releaseStock">
        UPDATE seckill
          SET number = number - 1
          WHERE seckill_id = #{id}
    </update>

    <insert id="saveSeckillSuccess" parameterType="java.util.List">
        INSERT INTO success_killed(seckill_id, user_id, state)
          VALUES
        <foreach collection="list" item="item" separator=",">
          (#{item.seckill_id}, #{item.user_id}, #{item.state})
        </foreach>

    </insert>

    <insert id="saveSeckillSuccessBySingle" parameterType="com.seckill.demo.domain.Seckill">
        INSERT INTO success_killed(seckill_id, user_id, state)
        VALUES(#{seckill_id}, #{user_id}, #{state})
    </insert>
</mapper>